
<br>
<div>
    <snap-content snap-opt-tap-to-close="false">
        <br>
        <br>
        <br>
        <br>

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10" align="center">
                <div class="panel panel-default" >

                    <div class="panel-heading">
                        <div align="left"><h2> Compute Server Overview</h2></div></div>

                    <div class="row">
                        <div class="col-lg-6" align="center">
                            <div class="panel-body">
                                <div class="content" id="r1">
                                    <div google-chart="PieChart" ng-model="instanceReport" class="mediumGraph"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6" align="center">
                            <div class="panel-body">
                                <div class="content" id="r2">
                                    <div google-chart="PieChart" ng-model="vcpuReport" class="mediumGraph"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6" align="center">
                            <div class="panel-body">
                                <div class="content" id="r3">
                                    <div google-chart="PieChart" ng-model="ramReport" class="mediumGraph"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6" align="center">
                            <div class="panel-body">
                                <div class="content" id="r4">
                                    <div google-chart="PieChart" ng-model="volReport" class="mediumGraph"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
</div>



</snap-content>
</div>

<!--<div>-->
    <!--<snap-content snap-opt-tap-to-close="false">-->
        <!--<div class= "fr">-->
            <!--<div class="container">-->
                <!--<div class="fr">-->
                    <!--<div>-->
                     <!--<br><br>-->
                        <!--<p style="float:left">-->
                        <!--<h1 style="color:white"> Service 1 </h1>-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<div class="content" id="first8">-->
                            <!--<div google-chart="PieChart" ng-model="data1" class="mediumGraph"></div>-->
                        <!--</div>-->
                        <!--<div class="content" id="first1">-->
                            <!--<div google-chart="PieChart" ng-model="data2" class="mediumGraph"></div>-->
                        <!--</div>-->
                        <!--<div class="content" id="first2">-->
                            <!--<div google-chart="PieChart" ng-model="data3" class="mediumGraph"></div>-->
                        <!--</div>-->
                        <!--<div class="content" id="first3">-->
                            <!--<div google-chart="PieChart" ng-model="data4" class="mediumGraph"></div>-->
                        <!--</div>-->
                        <!--<div class="content" id="first4">-->
                            <!--<div google-chart="PieChart" ng-model="data3" class="mediumGraph"></div>-->
                        <!--</div>-->
                        <!--<div class="content" id="first5">-->
                            <!--<div google-chart="PieChart" ng-model="data3" class="mediumGraph"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<p style="float:left">-->
                        <!--<h1 style="color:white"> Running Instance Status</h1>-->
                    <!--</div>-->
                    <!--<div class="content1" id="first">-->
                        <!--<div google-chart="BarChart" ng-model="data5" class="bigGraph"></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
  <!--</snap-content>-->
<!--</div>-->
